<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<style>
    .gameItem{
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 5px 10px 10px #e8f5ee;
        height: 100px;
    }
    .unmatched{
        background-color: rgb(68, 222, 34);
    }

</style>

<body>
    <main class="container">
        <header class="row">
            <%- include('partials/header.ejs') %>
        </header>
        <div id="app">
            <section class="row" id="board">
                <!-- <div class="col-2 gameItem m-2 p1 text-center">
                    <img src="images/7.png" alt="" class="img-fluid">
                </div> -->
            </section>
            <section class="row">
                <div class="col" id="reset">
                    <hr>
                    <div id="result"></div>
                    <button class="btn btn-primary" id="reset">Reset Game</button>
                    <button class="btn btn-danger" id="cancel">Cancel Game</button>
                    
                </div>
            </section>
        </div>
        <%- include('partials/footer.ejs') %>

    </main>
    <script src="assets/main.bundle.js"></script>
    <script src="assets/vendors-node_modules_autobind-decorator_lib_esm_index_js-node_modules_css-loader_dist_runtime-efc508.bundle.js"></script>
    <%- include('partials/foot.ejs') %>
</body>
</html>